/* time1 = time1 * 10
time2 = time2 * 10
time3 = time3 * 10 */
body {
    background: #000;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
  #btn {
    display: none;
  }
  .menu {
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: relative;
    z-index: 3;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
  .top,
  .bottom,
  .middle {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  /* transition-property: transform, opacity */
  }
  .top .inner,
  .bottom .inner,
  .middle .inner {
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    display: block;
    height: 1px;
    width: 17px;
    background: #fff;
    position: absolute;
    left: 16px;
  }
  .top .inner {
    top: 23px;
    background: #fff;
    -webkit-transition: -webkit-transform 0.2s 0.2s;
    transition: -webkit-transform 0.2s 0.2s;
    transition: transform 0.2s 0.2s;
    transition: transform 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  .middle .inner {
    top: 23px;
    background: #fff;
    -webkit-transition: -webkit-transform 0.2s 0.2s;
    transition: -webkit-transform 0.2s 0.2s;
    transition: transform 0.2s 0.2s;
    transition: transform 0.2s 0.2s, -webkit-transform 0.2s 0.2s;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .bottom .inner {
    bottom: 23px;
    background: #fff;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  #btn:checked ~ .menu {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #btn:checked ~ .menu .top {
    -webkit-transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #btn:checked ~ .menu .top .inner {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition-delay: 0;
            transition-delay: 0;
  }
  #btn:checked ~ .menu .bottom {
    -webkit-transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #btn:checked ~ .menu .bottom .inner {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  #btn:checked ~ .menu .middle {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
  #btn:checked ~ .menu .middle .inner {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  }
  .navbar{
      background-color: transparent;
      width: 100%;
      z-index: 10;
      height: auto;
  }
  .btn-group{
      background-color: transparent;
  }
  .btn-language:hover{
      color: #fff;
  }
  .btn-language:focus{
      color: #fff;
      box-shadow: none;
  }
  .active{
      color: #fff;
  }
  #centralLogo:hover{
    transform: scale(1.1);
  }
  #centralLogo{
    width: 100%;
    margin: 0px!important;
  }
  .center-fix{
    width: 5%;
  }
  .hamburgerMenu{
      padding-right: 2%;
      right: 0;
      position: fixed;
  }