.bg {
    background-color: black;
    overflow: hidden; /* Hide scrollbars */
}

.page {
    margin-top: 15%;
}

.logo {
    max-height: 500px;
    width: 100%;
    transition: transform 1s ease;
}

.full-welcome {
    transition: transform 1s ease;
}

.brand-box {
    transition: transform 1s ease;
}

.brand {
    display: none;
    transition: transform 1s ease;
}

/*.logo:hover {
    transform: rotate(-60deg);
}*/

.word{
    margin: auto;
    color: white;
    font-size: 150px;
    font-family: 'Fira Code', sans-serif;
    font-weight: 300;
    max-width: 100%;
}

.navbar {
    background-color:rgba(255, 255, 255, 0.1);
}

.nav-item {
    font-family: 'Fira Code', sans-serif;
    font-weight: 400;
    margin-left: 10px; /* maybe change this later */
}

.spacer {
    width: 100%;
    margin-top: 10%;
}

.full-width {
    width: 100%;
}

.font-light {
    color: lightgray;
    font-family: 'Fira Code', sans-serif;
    font-weight: 300;
}

.title {
    margin-top: 5%;
}

/*
.summa {
    font-family: 'Agency FB', arial;
}
*/