.bg {
    background-color: black;
    overflow: hidden; /* Hide scrollbars */
}

a{
    text-decoration: none;
    color: white;
}

.page {
    margin-top: 15%;
}

.logo {
    max-height: 500px;
    width: 100%;
    transition: transform 1s ease;
}

.full-welcome {
    transition: transform 1s ease;
}

.brand-box {
    transition: transform 1s ease;
}

.brand {
    display: none;
    transition: transform 1s ease;
}

/*.logo:hover {
    transform: rotate(-60deg);
}*/

.word{
    margin: auto;
    color: white;
    font-size: 150px;
    font-family: 'Fira Code', sans-serif;
    font-weight: 300;
    max-width: 100%;
}

.navbar {
    background-color:rgba(255, 255, 255, 0.1);
}

.nav-item {
    font-family: 'Fira Code', sans-serif;
    font-weight: 400;
    margin-left: 10px; /* maybe change this later */
}

.spacer {
    width: 100%;
    margin-top: 10%;
}

.full-width {
    width: 100%;
}

.font-light {
    color: lightgray;
    font-family: 'Fira Code', sans-serif;
    font-weight: 300;
}

.title {
    color: white;
    margin-top: 8%;
    margin-bottom: 8%;
    font-family: 'Agency FB', 'Fira Code', sans-serif !important;
    font-weight: 300;
    opacity: 0;
    transition: all 0.5s ease-in;
}

.agency {
    font-family: 'Agency FB', 'Fira Code', sans-serif !important;
    font-weight: 300;
}

/* Arrow Up and Down Movement INIT*/
.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
/* Arrow Up and Down Movement END*/

#arrow-link:hover {
    color: lightsteelblue;
}

.techs {
    width: 50%;
    border-radius: 50%;
}

.social {
    font-size: x-large; 
}

.social > div > img {
    width: 70%;
    padding: 10%;
    padding-top: 5%;
}

.titleFooter {
    font-weight: 800!important;
}

.itensFooter {
    font-size: small;
}

.copyright {
    font-size: 0.8em;
    cursor: default;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.white {
    color: white;
}

/*
.summa {
    font-family: 'Agency FB', arial;
}
*/