.bg {
    background-color: black;
}

.pageOld {
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px;
    border-radius: 50px
}

.page {
    margin-top: 15%;
}

.logo {
    max-height: 500px;
    width: 100%;
    transition: transform 1s ease;
}

/*.logo:hover {
    transform: rotate(-60deg);
}*/

.word{
    margin: auto;
    color: white;
    font-size: 200px;
    font-family: 'Fira Code', sans-serif;
    font-weight: 300;
}

.brand {
    width: 70%
}

.foot {
    padding: 20px
}

/*.text-center {
    text-align: center
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%
}

.summa {
    font-family: 'Agency FB', arial;
} */